h3 LIST TRIPS

.row
  .col-xs-6.col-xs-offset-3
    table.table.table-striped
      thead
        tr
          th Show
          th Delete
          th Name
          th Deparature
          th Created At
      tbody
        tr(ng-repeat='trip in trips')
          td: a.btn.btn-info.btn-xs(ui-sref='trips.show({tripId: trip._id})') Show
          td: button.btn.btn-xs.btn-danger(ng-click='destroy(trip._id)'): i.fa.fa-trash
          td {{trip.name}}
          td {{trip.departure | date: 'dd MMM yyyy'}}
          td {{trip.createdAt | date: 'dd MMM yyyy'}}
          
  .col-xs-8


  
